<p-dialog
  [(visible)]="visible"
  modal
  draggable="false"
  [header]="'EMPLOYEES.CREATE_EMPLOYEE' | translate"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="grid w-full grid-cols-2 gap-4"
  >
    <div class="col-span-1">
      <mtk-input
        formControlName="firstNameEn"
        [label]="'FORMS.FIRST_NAME_EN' | translate"
        [placeholder]="'FORMS.FIRST_NAME_EN' | translate"
      />
    </div>
    <div class="col-span-1">
      <mtk-input
        formControlName="firstNameAr"
        [label]="'FORMS.FIRST_NAME_AR' | translate"
        [placeholder]="'FORMS.FIRST_NAME_AR' | translate"
      />
    </div>
    <div class="col-span-1">
      <mtk-input
        formControlName="midNameEn"
        [label]="'FORMS.MID_NAME_EN' | translate"
        [placeholder]="'FORMS.MID_NAME_EN' | translate"
      />
    </div>
    <div class="col-span-1">
      <mtk-input
        formControlName="midNameAr"
        [label]="'FORMS.MID_NAME_AR' | translate"
        [placeholder]="'FORMS.MID_NAME_AR' | translate"
      />
    </div>
    <div class="col-span-1">
      <mtk-input
        formControlName="lastNameEn"
        [label]="'FORMS.LAST_NAME_EN' | translate"
        [placeholder]="'FORMS.LAST_NAME_EN' | translate"
      />
    </div>
    <div class="col-span-1">
      <mtk-input
        formControlName="lastNameAr"
        [label]="'FORMS.LAST_NAME_AR' | translate"
        [placeholder]="'FORMS.LAST_NAME_AR' | translate"
      />
    </div>
    <div class="col-span-2">
      <mtk-input
        formControlName="fullAddress"
        [label]="'FORMS.FULL_ADDRESS' | translate"
        [placeholder]="'FORMS.FULL_ADDRESS' | translate"
      />
    </div>

    <div class="col-span-2">
      <mtk-input
        formControlName="identityNO"
        [label]="'FORMS.NATIONAL_ID' | translate"
        [placeholder]="'FORMS.NATIONAL_ID' | translate"
      />
    </div>
    <div class="col-span-2">
      <mtk-input
        type="email"
        formControlName="email"
        [label]="'FORMS.EMAIL' | translate"
        [placeholder]="'FORMS.EMAIL' | translate"
      />
    </div>
    <div class="col-span-2">
      <mtk-input
        formControlName="phoneNumber"
        [label]="'FORMS.PHONE_NUMBER' | translate"
        [placeholder]="'FORMS.PHONE_NUMBER' | translate"
      />
    </div>
    <div class="col-span-2">
      <mtk-input
        [fullWidth]="true"
        type="password"
        formControlName="password"
        [label]="'FORMS.PASSWORD' | translate"
        [placeholder]="'FORMS.PASSWORD' | translate"
      />
    </div>
    <div class="col-span-2">
      <mtk-select
        [options]="filteredDepartments()"
        formControlName="departmentId"
        optionLabel="name"
        optionValue="id"
        [label]="'FORMS.DEPARTMENT' | translate"
        [placeholder]="'FORMS.DEPARTMENT' | translate"
      ></mtk-select>
    </div>
    <div class="col-span-2">
      <mtk-select
        [options]="employeesStore.areas()"
        formControlName="areaId"
        optionLabel="name"
        optionValue="id"
        [label]="'FORMS.AREA' | translate"
        [placeholder]="'FORMS.AREA' | translate"
        appendTo="body"
      />
    </div>
  </form>
  <ng-template #footer>
    <div class="grid w-full grid-cols-2 gap-4 pt-4">
      <p-button
        [label]="'BUTTONS.ADD' | translate"
        styleClass="w-full"
        size="large"
        [loading]="employeesStore.isCreateEmployeePending()"
        (onClick)="onSubmit()"
      />
      <p-button
        [label]="'BUTTONS.CANCEL' | translate"
        severity="secondary"
        styleClass="w-full"
        size="large"
        (onClick)="visible.set(false)"
      />
    </div>
  </ng-template>
</p-dialog>
