<mtk-menu [menuItems]="menuItems" #menu />

<div class="flex h-full grow-1 items-center justify-between px-5">
  @if (isBreadcrumb()) {
    <p-breadcrumb [model]="headerTitle()">
      <ng-template #item let-item>
        <a
          [routerLink]="item.routerLink"
          class="group"
          [relativeTo]="lastRoute"
          routerLinkActive="active"
        >
          <span class="group-[.active]:text-surface-200 text-xl">{{
            getBreadcrumbLabel(item) | translate
          }}</span>
        </a>
      </ng-template>
    </p-breadcrumb>
  } @else {
    <h1 class="text-xl font-bold">
      {{ headerTitle() | translate }}
    </h1>
  }
  <div class="flex h-[75%] items-center gap-2">
    <div class="flex h-full items-center gap-1">
      <button
        class="hover:bg-primary-50 flex h-full cursor-pointer items-center justify-center gap-3 rounded-lg p-[0.25rem] px-4 transition-all duration-300 ease-in-out"
        pRipple
        (click)="onToggleLang()"
      >
        <p class="text-md hidden rtl:block">English</p>
        <p class="text-md font-title-ar rtl:hidden">عربي</p>
        <div class="h-[1.5rem] w-[1.5rem]">
          <mtk-icon icon="lang" overrideSize />
        </div>
      </button>
    </div>
    <button
      pRipple
      (click)="menu.toggle($event)"
      class="hover:bg-primary-50 flex h-full cursor-pointer items-center gap-2 rounded-lg px-4 transition-all duration-300 ease-in-out"
    >
      <span class="text-primary"> محمد الكاشف </span>
      <mtk-icon icon="arrow-down" />
    </button>
  </div>
</div>
