<a
  [routerLink]="link()"
  routerLinkActive="active"
  class="group hover:bg-primary-50 [&.active]:bg-primary-50 border-surface-100 after:border-s-primary-50 relative me-4 flex h-[4rem] cursor-pointer items-center justify-between gap-2 overflow-visible rounded-md border-b-1 p-5 transition-all duration-300 ease-in-out after:absolute after:top-[50%] after:z-1 after:h-0 after:w-0 after:translate-y-[-50%] after:border-e-0 after:border-t-[8px] after:border-b-[8px] after:border-e-transparent after:border-t-transparent after:border-b-transparent after:bg-transparent after:transition-all after:duration-300 after:ease-in-out hover:after:border-s-[14px] ltr:after:left-[100%] rtl:after:right-[100%] [&.active]:after:border-s-[14px]"
>
  <ng-content />
</a>
