<p-card>
  <ng-template #header>
    <div class="flex items-center justify-between p-6">
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold">
          {{ 'AREAS.AREAS_LIST' | translate }}
        </h2>
        <p class="text-surface-300 text-sm font-medium">
          {{ 'AREAS.AREAS_MANAGEMENT' | translate }}
        </p>
      </div>
      <p-button
        [label]="'AREAS.ADD_NEW_AREA' | translate"
        (onClick)="showCreateArea.set(true)"
      />
    </div>
    <p-divider class="my-0" styleClass="bg-surface-100" />
  </ng-template>
  <div class="flex flex-col gap-5">
    <mtk-areas-table />
  </div>
</p-card>

@if (showCreateArea()) {
  <mtk-create-area
    [(visible)]="showCreateArea"
    (success)="showSuccessDialog.set(true)"
  />
}
@if (showSuccessDialog()) {
  <mtk-success-dialog [(visible)]="showSuccessDialog" />
}
